#─────────────────────────────────
# .clang-format の中身（YAML形式）
#─────────────────────────────────

BasedOnStyle: LLVM     # ベーススタイルを LLVM にする
IndentWidth:   4       # インデント幅をスペース4つ分にする
ColumnLimit:   100     # 1行あたりの文字数上限を 100 にする
#─────────────────────────────────
